<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Album Recommendations</title>
  </head>
  <body>
    <h1>Find Album Recommendations</h1>
    <input type="text" id="albumName" placeholder="Enter album name" />
    <button onclick="getRecommendations()">Get Recommendations</button>
    <div id="recommendations"></div>

    <script>
      function getRecommendations() {
        const albumName = document.getElementById("albumName").value;
        fetch("/recommend", {
          method: "POST",
          headers: {
            "Content-Type": "application/json",
          },
          body: JSON.stringify({ album_name: albumName }),
        })
          .then((response) => response.json())
          .then((data) => {
            const recommendationsDiv =
              document.getElementById("recommendations");
            recommendationsDiv.innerHTML = ""; // Clear previous recommendations
            if (data.error) {
              recommendationsDiv.innerHTML = `<p>${data.error}</p>`;
            } else {
              data.forEach((rec) => {
                recommendationsDiv.innerHTML += `<p>${rec.album} by ${rec.ars_name}</p>`;
              });
            }
          })
          .catch((error) => {
            console.error("Error:", error);
          });
      }
    </script>
  </body>
</html>
