<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Song Identifier</title>
    <link rel="stylesheet" href="../static/style.css" />
    <script
      type="module"
      src="https://ajax.googleapis.com/ajax/libs/model-viewer/3.4.0/model-viewer.min.js"
    ></script>
  </head>
  <body>
    <div class="wrapper">
      <div class="product-img">
        <img src="http://bit.ly/2tMBBTd" height="420" width="327" />
      </div>
      <div class="product-info">
        <div class="product-text">
          <h1>Harvest Vase</h1>
          <h2>by studio and friends</h2>
          <p>
            Harvest Vases are a reinterpretation<br />
            of peeled fruits and vegetables as<br />
            functional objects. The surfaces<br />
            appear to be sliced and pulled aside,<br />
            allowing room for growth.
          </p>
        </div>
        <div class="product-price-btn">
          <p><span>78</span>$</p>
          <button type="button">buy now</button>
        </div>
      </div>
    </div>

    <h1>Identify a Song</h1>
    <button id="startRecord">Start Recording</button>
    <button id="stopRecord" disabled>Stop Recording</button>
    <div id="songInfo" class="song-card"></div>

    <script src="../static/script.js"></script>
  </body>
</html>
